In [1]:
#Initial imports 
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#Removes all unnecessary warnings by Python
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Imports for better visualization

from collections import defaultdict
import scipy as sp
from matplotlib import rcParams
import matplotlib.cm as cm
import matplotlib as mpl

#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (14, 6)
rcParams['figure.dpi'] = 250
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 3
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 25
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

In [4]:
#Show all the columns 
pd.set_option('display.max_columns',None)

In [5]:
#Reading in all the data from different datasets 
usepam = pd.read_csv('usepam.csv')
usepav = pd.read_csv('usepav.csv')

In [6]:
#usepam - userpattern modelling and udepav - userpattern validation data 
usepam.dtypes
usepav.dtypes
usepam.head()
usepav.head()

Account Number                          object
Used pattern in hours                  float64
Usage Post Limit Utilization in hrs      int64
data used Gb                           float64
month_use                                int64
dtype: object

Account Number                          object
Used pattern in hours                  float64
Usage Post Limit Utilization in hrs      int64
data used Gb                           float64
month_use                                int64
dtype: object

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,month_use
0,M1,717.90,0,43.80,1
1,M1,662.42,0,110.35,2
2,M1,634.68,0,109.10,3
3,M2,696.12,5,98.40,1
4,M2,652.40,0,70.90,2

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,month_use
0,V1,400.52,0,78.15,5
1,V1,587.93,0,37.30,6
2,V1,647.40,0,115.00,7
3,V2,699.75,232,226.30,5
4,V2,658.43,35,119.10,6

In [7]:
bill = pd.get_dummies(usepam['month_use'])
dfm = pd.concat([usepam, bill], axis=1)
dfm.rename(columns={1: 'Jan',2:'Feb',3:'Mar'}, inplace=True)
del dfm['month_use']
dfm.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,Jan,Feb,Mar
0,M1,717.90,0,43.80,1.0,0.0,0.0
1,M1,662.42,0,110.35,0.0,1.0,0.0
2,M1,634.68,0,109.10,0.0,0.0,1.0
3,M2,696.12,5,98.40,1.0,0.0,0.0
4,M2,652.40,0,70.90,0.0,1.0,0.0

In [8]:
bill = pd.get_dummies(usepav['month_use'])
dfv = pd.concat([usepav, bill], axis=1)
del dfv['month_use']
dfv.rename(columns={5:'May',6:'Jun',7:'July'}, inplace=True)
dfv.head()

,Account Number,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,May,Jun,July
0,V1,400.52,0,78.15,1.0,0.0,0.0
1,V1,587.93,0,37.30,0.0,1.0,0.0
2,V1,647.40,0,115.00,0.0,0.0,1.0
3,V2,699.75,232,226.30,1.0,0.0,0.0
4,V2,658.43,35,119.10,0.0,1.0,0.0

In [9]:
dfm['Jan_hours'] = dfm['Jan']*dfm['Used pattern in hours']
dfm['Feb_hours'] = dfm['Feb']*dfm['Used pattern in hours']
dfm['Mar_hours'] = dfm['Mar']*dfm['Used pattern in hours']
dfm['Jan_gb'] = dfm['Jan']*dfm['data used Gb']
dfm['Feb_gb'] = dfm['Feb']*dfm['data used Gb']
dfm['Mar_gb'] = dfm['Mar']*dfm['data used Gb']
dfm['Jan_postlimit'] = dfm['Jan']*dfm['Usage Post Limit Utilization in hrs']
dfm['Feb_postlimit'] = dfm['Feb']*dfm['Usage Post Limit Utilization in hrs']
dfm['Mar_postlimit'] = dfm['Mar']*dfm['Usage Post Limit Utilization in hrs']

In [10]:
dfv['May_hours'] = dfv['May']*dfv['Used pattern in hours']
dfv['Jun_hours'] = dfv['Jun']*dfv['Used pattern in hours']
dfv['July_hours'] = dfv['July']*dfv['Used pattern in hours']
dfv['May_gb'] = dfv['May']*dfv['data used Gb']
dfv['Jun_gb'] = dfv['Jun']*dfv['data used Gb']
dfv['July_gb'] = dfv['July']*dfv['data used Gb']
dfv['May_postlimit'] = dfv['May']*dfv['Usage Post Limit Utilization in hrs']
dfv['Jun_postlimit'] = dfv['Jun']*dfv['Usage Post Limit Utilization in hrs']
dfv['July_postlimit'] = dfv['July']*dfv['Usage Post Limit Utilization in hrs']

In [11]:
defm = dfm.groupby('Account Number ').sum()
defv = dfv.groupby('Account Number ').sum()

In [12]:
defm.rename(columns={'Account Number ':'Account Number'}, inplace=True)
defv.rename(columns={'Account Number ':'Account Number'}, inplace=True)

In [13]:
defm.to_csv('usepamup.csv',index=True)
defv.to_csv('usepavup.csv',index=True)

In [14]:
defm.head()

,Used pattern in hours,Usage Post Limit Utilization in hrs,data used Gb,Jan,Feb,Mar,Jan_hours,Feb_hours,Mar_hours,Jan_gb,Feb_gb,Mar_gb,Jan_postlimit,Feb_postlimit,Mar_postlimit
Account Number,,,,,,,,,,,,,,,
M1,2015.00,0,263.25,1.0,1.0,1.0,717.90,662.42,634.68,43.80,110.35,109.10,0.0,0.0,0.0
M10,1814.40,0,101.85,1.0,1.0,1.0,613.60,592.20,608.60,39.95,31.15,30.75,0.0,0.0,0.0
M100,2082.43,0,523.75,1.0,1.0,1.0,730.35,678.18,673.90,178.90,166.45,178.40,0.0,0.0,0.0
M1000,1237.47,0,1.45,1.0,1.0,1.0,449.92,354.65,432.90,1.45,0.00,0.00,0.0,0.0,0.0
M10000,2069.07,597,328.20,1.0,1.0,1.0,721.22,618.17,729.68,110.25,114.95,103.00,323.0,274.0,0.0